.program-day {
  margin-bottom: 2em;
}
.program-day__row {
  border-color: darkgrey;
  border-style: solid;
  border-width: 1px 0 0 1px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.program-day__row:last-child {
  border-bottom-width: 1px;
}
.program-day__event {
  -webkit-box-flex: 1 0;
  -moz-box-flex: 1 0;
  -webkit-flex: 1 0;
  -ms-flex: 1 0;
  flex: 1 0;
  padding: 1em;
  border-right: 1px solid darkgrey;
  position: relative;
  overflow: hidden;
}
.program-day__event.secondary {
  background-color: #EEE;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.program-day__event.secondary .event__name {
  margin-bottom: 0;
  line-height: 1em;
  color: #333;
}
.program-day__event.secondary .event__meta {
  margin-left: 1em;
  line-height: 1em;
}
.program-day__event .event__name {
  margin-top: 0;
  margin-bottom: .4em;
}
.program-day__event .event__meta {
  margin-bottom: 0;
  font-size: .9em;
}
.program-day__event .event__meta > span {
  display: inline-block;
  margin-right: .5em;
}
.program-day__event .event__more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.8em;
  line-height: 1em;
}
/*# sourceMappingURL=program.css.map */