// FLEXBOX MIXINS

.display-flex() {
    display: -webkit-box; // OLD - iOS 6-, Safari 3.1-6
    display: -moz-box; // OLD - Firefox 19- (buggy but mostly works)
    display: -ms-flexbox; // TWEENER - IE 10
    display: -webkit-flex; // NEW - Chrome
    display: flex; // NEW, Spec - Opera 12.1, Firefox 20+
}

.flex(@num: 1) {
    -webkit-box-flex: @num 0; // OLD - iOS 6-, Safari 3.1-6
    -moz-box-flex: @num 0; // OLD - Firefox 19-
    -webkit-flex: @num 0; // Chrome
    -ms-flex: @num 0; // IE 10
    flex: @num 0; // NEW, Spec - Opera 12.1, Firefox 20+
}

.flex-direction-column() {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.align-items(@dir) {
    -webkit-box-align: @dir;
    -moz-box-align: @dir;
    -webkit-align-items: @dir;
    -ms-flex-align: @dir;
    align-items: @dir;
}

.justify-content(@dir) {
    -webkit-box-pack: @dir;
    -moz-box-pack: @dir;
    -webkit-justify-content: @dir;
    -ms-flex-pack: @dir;
    justify-content: @dir;
}

.flex-wrap() {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-basis(@size) {
    -webkit-flex-basis: @size;
    -moz-flex-basis: @size;
    flex-basis: @size;
}

.flex-order(@order) {
    -ms-flex-order: @order;
    -webkit-order: @order;
    order: @order;
}

.transform(@args) {
    -ms-transform: @args; // IE9
    -webkit-transform: @args; // Chrome, Safari, Opera
    transform: @args;
}

.transition(@args) {
    -webkit-transition: @args;
    -moz-transition: @args;
    -ms-transition: @args;
    -o-transition: @args;
    transition: @args;
}

.program-day{

    @border-color: darkgrey;
    margin-bottom: 2em;

    &__header{

    }

    &__row{
        border-color: @border-color;
        border-style: solid;
        border-width: 1px 0 0 1px;
        .display-flex;

        &:last-child{
            border-bottom-width: 1px;
        }
    }

    &__event{
        .flex();
        padding: 1em;
        border-right: 1px solid @border-color;
        position: relative;
        overflow: hidden;

        &.secondary{
            background-color: #EEE;
            .display-flex;
            .justify-content(center);
            .align-items(center);

            .event{
                &__name{
                    margin-bottom: 0;
                    line-height: 1em;
                    color: #333;
                }
                &__meta{
                    margin-left: 1em;
                    line-height: 1em;
                }
            }
        }

        .event{
            &__name{
                margin-top: 0;
                margin-bottom: .4em;
            }
            &__meta{
                margin-bottom: 0;
                font-size: .9em;
                & > span {
                    display: inline-block;
                    margin-right: .5em;
                }
            }
            &__more{
                position: absolute;
                bottom: 1rem;
                right: 1rem;
                font-size: 1.8em;
                line-height: 1em;
            }
        }
    }
}
